body{
    background-color: rgb(215, 216, 217);
}

h1{
    text-align: center;
}

span{
    display:block;
    text-align: center;
    margin: 50px;
    font-size: 40px;
    /* border: 2px solid red; */
}

.win_count{
    font-size: 3rem;
    
    
}

.container{
    
    /* border-radius: 20px; */
    min-height: fit-content;
    overflow: hidden;
    align-items: center;
    /* border: 2px solid saddlebrown; */
    /* max-height: 95vh; */
    
}


img {
    width: 200px;
    height: 200px;
    
    border: 3px solid black;
    border-radius: 60px;
    cursor: pointer;
}

.images{
    display: flex;
    justify-content: space-around;
    margin: 7rem;
   
}



img:hover{
   transform: scale(1.1);
   transition: 0.2s ease-in-out;
}